when@dev: &dev
    framework:
        mailer:
            dsn: '%env(MAILER_DSN)%'
            envelope:
                sender: '%env(MAILER_SENDER)%'
            headers:
                from: '%env(MAILER_FROM)%'

when@test: *dev
