<div class="d-flex justify-content-between align-items-center m-1">
   <span class="m-1">{{ this.likesCount }}</span>

   {% if is_granted('ROLE_USER') %}
      {{ this.isLikedByUser(currentUser) ? '<i class="bi bi-heart-fill"></i>' : '<i class="bi bi-heart"></i>' }}
   {% else %}
      <i class="bi bi-heart"></i>
   {% endif %}
</div>
